.currency-table {
    display: flex;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tr th.header-no-background {
    background-color: #dddddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr td {
    text-align: center;
}

.currency-date {
    margin-top: 20px;
    display: flex;
}

.divider-cell {
    border-right: #FFFFFFFF 1px solid;
}

.currency-date .date-picker-label {
    margin-right: 15px;
}

.currency-calculator {
    border: 1px solid;
}

.calculator-result {
    font-weight: bold;
}

.currency-calculator-wrapper {
    margin-bottom: 20px;
}

.error-exchanging {
    margin-top: 10px;
    color: #e30e0e;
}